
.cal-container {
    margin: 1rem auto;
    width: fit-content;
    border: 3px solid black;
    padding: 0.5rem;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
}

.cal-screen {
    background-color: antiquewhite;
    text-align: right;
    display: flex;
    align-items: center;      /* เฉลี่ยบน-ล่าง */
    justify-content: flex-end;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: 2px solid gray;
    margin-bottom: 1rem;
}

.cal-btn {
    width:  2rem;
    height: 2rem;
    margin: 0.15rem 0.1rem;
    border-radius: 10px;
    border: 2px solid gray;
}

.cal-btn-green {
    background-color: lightgreen;
}

.cal-btn-blue {
    background-color: lightblue;
}

.cal-btn-red {
    background-color: lightcoral;
}

.cal-btn-orange {
    background-color: orange;
}
